@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color";
$primary-color: #3b5998 !default;
$secondary-color: #8b9dc3 !default;
@import "materialize";


/* Images */

.nav-img {
    vertical-align: middle;
}

/* Cards */

.card-action {
    @extend .grey, .lighten-4;
}

/* Buttons */

.btn {
    height: 36px;
    letter-spacing: 0;
}

.btn-margin-top {
    margin-top: 5px;
}

.btn-right {
    position: relative;
    margin-left: auto;
}

.fb-button{
    @extend .btn;
    background-color: $primary-color;
    @extend .btn-margin-top;
    &:hover{
      background-color: $primary-color;  
    }
}


/* Navigation */

nav .brand-logo {
    padding-left: 15px;
}

nav .input-field {
    height: auto;
}

ul#mobile.side-nav.right.right-aligned {
    background-color: $primary-color;
}

.side-nav li a {
    color: white;
}


/* Text */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: $secondary-color;
}

.profile-link{
    font-size: 24px;
}


/* Flash */

.danger {
    background-color: red;
}

.success{
    background-color: green;
}

.notice{
    background-color: $secondary-color;
}


.warning {
    background-color: yellow;
}

.alert {
    background-color: #fdd835;
}



/* Icons */

span i.material-icons {
    vertical-align: bottom;
}

a {
    i.material-icons {
    display: inline-block;
    vertical-align: bottom;
    }
}

.fb-icon {
    vertical-align: -6px;
}

/* Footer */



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Alignment */

.align-icon {
    vertical-align: middle;
}

.align-middle {
    position: relative;
    vertical-align: middle ;
}

.pad-left{
    padding-left: 8px;
}

.align-bottom {
    position: relative;
    vertical-align: bottom;
}

