<h1>Welcome to Fakebook.com, <%= @user.name %></h1>
  <p>
    You have successfully signed up to Fakebook.com,
    your username is: <%= @user.name %>.<br>
  </p>
  <p>
    To login to the site, just follow this link: <%= link_to "Fakebook login", @url %>.
  </p>
  <p>Thanks for joining and have a great day!</p>